[submodule "data/ticker"]
	path = data/ticker
	url = git@github.com:machineandme/ticker-backend.git
[submodule "data/shirts"]
	path = data/shirts
	url = git@github.com:machineandme/shirts.git
[submodule "data/foodrec"]
	path = data/foodrec
	url = git@github.com:machineandme/food_recomendator.git
